/* ***** OPTIONS ***** */
$spacer: 1rem;

$spacers: (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3)
);

$sizes: (
        12: 12.5%,
        25: 25%,
        37: 37.5%,
        50: 50%,
        62: 62.5%,
        75: 75%,
        87: 87.5%,
        100: 100%,
        auto: auto
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);

$grid-columns:              12;
$grid-gutter-width:         30px;
/* ***** OPTIONS ***** */


/* ***** COLORS ***** */
$white:    #ECECEC;
$gray-100: #C7C7C8;
$gray-200: #A3A1A4;
$gray-300: #7E7C80;
$gray-400: #59575C;
$gray-500: #353238;
$gray-600: #2C292E;
$gray-700: #222024;
$gray-800: #19171A;
$gray-900: #0F0E10;
$black:    #050506;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

/* ***** PALETTE ***** */
$light:   #C1B4AE;
$first:   #92140C;
$second:  #BE5A38;
$third:   #BE7C4D;
$dark:    #353238;
/* ***** PALETTE ***** */

$primary:       $first;
$secondary:     $second;
$tertiary:      $third;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;


$theme-colors: (
        "primary":    $first,
        "secondary":  $second,
        "tertiary":   $third
);
/* ***** COLORS ***** */


/* ***** THEMING ***** */
$font-family-sans-serif:    "Assistant", sans-serif;
$font-family-monospace:     SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:          $font-family-sans-serif;

$font-size-base:            0.875rem;       // Assumes the browser default, typically `16px`
$line-height-base:          1.5;
$text-color:                $gray-800;

$font-weight-lighter:       lighter;
$font-weight-light:         300;
$font-weight-normal:        400;
$font-weight-bold:          700;
$font-weight-bolder:        bolder;

$body-bg:                   $light;

$link-color:                $tertiary;
$link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     none;

$input-btn-focus-width:       .2rem;
$component-active-color:      $tertiary;
$component-active-bg:         $tertiary;
$border-color:                $tertiary;
$input-btn-focus-color:       rgba($component-active-bg, .25);
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color;

$box-shadow-sm:             0 .125rem .25rem rgba($dark, .075);
$box-shadow:                0 .5rem 1rem rgba($dark, .15);
$box-shadow-lg:             0 1rem 3rem rgba($dark, .175);
$btn-box-shadow:            inset 0 1px 0 rgba($light, .15), 0 1px 1px rgba($dark, .075);
$btn-active-box-shadow:     inset 0 3px 5px rgba($dark, .125);

/*$body-color:                $dark;

$box-shadow-sm:             0 .125rem .25rem rgba($black, .075);
$box-shadow:                0 .5rem 1rem rgba($black, .15);
$box-shadow-lg:             0 1rem 3rem rgba($black, .175);

$paragraph-margin-bottom:   1rem;

$border-width:              1px;
$border-color:              $gray-300;

$border-radius:             .25rem;
$border-radius-lg:          .3rem;
$border-radius-sm:          .2rem;

$rounded-pill:              50rem;

$box-shadow-sm:             0 .125rem .25rem rgba($black, .075);
$box-shadow:                0 .5rem 1rem rgba($black, .15);
$box-shadow-lg:             0 1rem 3rem rgba($black, .175);

$table-color:               $body-color;
$table-bg:                  null;
$table-accent-bg:           rgba($black, .05);
$table-hover-color:         $table-color;
$table-hover-bg:            rgba($black, .075);
$table-active-bg:           $table-hover-bg;
$table-border-color:        $border-color;
$table-head-bg:             $gray-200;
$table-head-color:          $gray-700;
$table-dark-color:          $white;
$table-dark-bg:             $gray-800;
$table-dark-accent-bg:      rgba($white, .05);
$table-dark-hover-color:    $table-dark-color;
$table-dark-hover-bg:       rgba($white, .075);
$table-dark-border-color:   lighten($table-dark-bg, 7.5%);
$table-dark-color:          $white;

$input-bg:                  $white;
$input-disabled-bg:         $gray-200;
$input-color:               $gray-700;
$input-border-color:        $gray-400;
$input-box-shadow:          inset 0 1px 1px rgba($black, .075);
$input-focus-bg:            $input-bg;
$input-focus-border-color:  lighten($component-active-bg, 25%);
$input-focus-color:         $input-color;
$input-focus-box-shadow:    $input-btn-focus-box-shadow;
$input-placeholder-color:   $gray-600;
$input-plaintext-color:     $body-color;

$input-group-addon-color:               $input-color;
$input-group-addon-bg:                  $gray-200;
$input-group-addon-border-color:        $input-border-color;

$custom-control-indicator-bg:                   $input-bg;
$custom-control-indicator-border-color:         $gray-500;
$custom-control-indicator-disabled-bg:          $input-disabled-bg;
$custom-control-label-disabled-color:           $gray-600;
$custom-control-indicator-checked-color:        $component-active-color;
$custom-control-indicator-checked-bg:           $component-active-bg;
$custom-control-indicator-checked-disabled-bg:  rgba($primary, .5);
$custom-control-indicator-checked-box-shadow:   none;
$custom-control-indicator-checked-border-color: $custom-control-indicator-checked-bg;

$custom-control-indicator-active-color:         $component-active-color;
$custom-control-indicator-active-bg:            lighten($component-active-bg, 35%);
$custom-control-indicator-active-box-shadow:    none;
$custom-control-indicator-active-border-color:  $custom-control-indicator-active-bg;

$custom-select-color:               $input-color;
$custom-select-disabled-color:      $gray-600;
$custom-select-bg:                  $input-bg;
$custom-select-disabled-bg:         $gray-200;
$custom-select-border-color:        $input-border-color;
$custom-select-box-shadow:          inset 0 1px 2px rgba($black, .075);

$form-feedback-valid-color:         $success;
$form-feedback-invalid-color:       $danger;
$form-feedback-icon-valid-color:    $form-feedback-valid-color;
$form-feedback-icon-invalid-color:  $form-feedback-invalid-color;

$navbar-dark-color:                 rgba($white, .5);
$navbar-dark-hover-color:           rgba($white, .75);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-dark-toggler-border-color:  rgba($white, .1);
$navbar-dark-brand-color:           $navbar-dark-active-color;
$navbar-dark-brand-hover-color:     $navbar-dark-active-color;

$navbar-light-color:                rgba($black, .5);
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-disabled-color:       rgba($black, .3);
$navbar-light-toggler-border-color: rgba($black, .1);
$navbar-light-brand-color:          $navbar-light-active-color;
$navbar-light-brand-hover-color:    $navbar-light-active-color;

$dropdown-color:                    $body-color;
$dropdown-bg:                       $white;
$dropdown-border-color:             rgba($black, .15);
$dropdown-divider-bg:               $gray-200;
$dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175);
$dropdown-link-color:               $gray-900;
$dropdown-link-hover-color:         darken($gray-900, 5%);
$dropdown-link-hover-bg:            $gray-100;
$dropdown-link-active-color:        $component-active-color;
$dropdown-link-active-bg:           $component-active-bg;
$dropdown-link-disabled-color:      $gray-600;

$pagination-color:                  $link-color;
$pagination-bg:                     $white;
$pagination-border-color:           $gray-300;
$pagination-focus-box-shadow:       $input-btn-focus-box-shadow;
$pagination-focus-outline:          0;
$pagination-hover-color:            $link-hover-color;
$pagination-hover-bg:               $gray-200;
$pagination-hover-border-color:     $gray-300;
$pagination-active-color:           $component-active-color;
$pagination-active-bg:              $component-active-bg;
$pagination-active-border-color:    $pagination-active-bg;
$pagination-disabled-color:         $gray-600;
$pagination-disabled-bg:            $white;
$pagination-disabled-border-color:  $gray-300;

$card-border-color:                 rgba($black, .125);
$card-cap-bg:                       rgba($black, .03);
$card-cap-color:                    null;
$card-color:                        null;
$card-bg:                           $white;

$tooltip-color:                     $white;
$tooltip-bg:                        $black;

$popover-bg:                        $white;
$popover-border-color:              rgba($black, .2);
$popover-box-shadow:                0 .25rem .5rem rgba($black, .2);
$popover-arrow-color:               $popover-bg;

$toast-color:                       null;
$toast-background-color:            rgba($white, .85);
$toast-border-color:                rgba(0, 0, 0, .1);
$toast-box-shadow:                  0 .25rem .75rem rgba($black, .1);
$toast-header-color:                $gray-600;
$toast-header-background-color:     rgba($white, .85);
$toast-header-border-color:         rgba(0, 0, 0, .05);*/
/* ***** THEMING ***** */